.kasa-thumb {
    background: #FF6060;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    position: relative; 
}
.KasaThumbImage {
    width: 340px; 
    height: 340px;
    border-radius: 10px;
}
.kasa-thumbTitle {
    position: absolute;
    font-family: 'Montserrat';
    color: #FFFFFF;
    bottom: 0px;
    left: 10px; 
    font-size: 13pt;
    width: 40%;
    font-weight: 900;
}