.carroussel {
    width: auto;
    height: 350px; 
    text-align: center;
    margin: 20px 0px 20px 0px;
    
}
.imageCarroussel {
    position: relative;
    width:90%;
    height:100%;
    object-fit: cover; 
    border-radius: 20px;
    z-index: 0;
    
}
.imageCarroussel:hover {
    cursor : pointer;
}
.right {  
    right: 5%;
}
.left {
    left: 5%;
}
.button {
    color: white; 
    font-size: 40pt;
    background-color: transparent;
    text-shadow: none;
    cursor: pointer;
    border-width: 0px; 
    position: absolute;  
    z-index: 1;
    height: 60%;
}