
.image { 
    height: 220px;
    margin: 10px 40px 10px 40px;
    background-image: url('./IMG.svg');
    background-position: center;
    border-radius: 10px;
    text-align: center;
    display: flex;
}
.Simage {
    background-image: url('./Simage.svg')
}
.text {
    margin:auto;
    color: white;
    font-family: 'Montserrat';
}