
.ficheContent {
    margin:0% 5% 5% 5%;
}
/******************************/
.informations {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/******************************/

.tag {
    margin-top: 15px;
    display: flex;
}
/******************************/
.dropdown {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5%;
}
@media screen and (max-width: 686px) {
    .hostRating {
        margin-top: 20px;
    }
    .dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}