.drop{
    margin-bottom: 20px;
}
.kasa-dropdown {
    margin : 10px 10px 0px 40px;
    padding : 0px 10px 5px 10px;
    background-color: #FF6060;
    border-radius: 5px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.dropdown-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    color: #FFFFFF;
}
.Icon {
    padding-top: 5px;
    background-color: transparent;
    border-width: 0px;
}
.dropdownfont {
    color: #FFFFFF;
}
.openDrop {
    background: #F7F7F7;
    border-radius: 0px 0px 10px 10px ;
    width: 400px;
    margin: 0px 10px 0px 40px;
    padding: 10px 10px 20px 10px;
    color:#FF6060;
}
.dropListElement {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;  
}
.large {
    width: 500px!important;
    color: #FF6060;
}