.kasa-dropdown {
    position: absolute;
    width: 582px;
    height: 52px;
    left: 675px;
    top: 557px;
}
.dropdown-title {
    position: absolute;
    left: 3.44%;
    right: 75.26%;
    top: 25%;
    bottom: 25%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    /* identical to box height, or 26px */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}
.dropdownfont {
    position: absolute;
    left: 91.25%;
    right: -39.88%;
    top: 24.33%;
    bottom: -6.83%;

    background: #FFFFFF;
    transform: rotate(90deg);
}
.openDrop {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 80.77%;
    bottom: -459.62%;

    background: #F7F7F7;
    border-radius: 10px;
}
.dropListElement {
    position: absolute;
    left: 3.44%;
    right: 2.06%;
    top: 157.69%;
    bottom: -407.69%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.6%;
    /* or 26px */

    color: #FF6060;
}