.kasa-header {
    display: flex; 
    justify-content: space-between;
    margin: 2% 5% 2% 5%;
}
.nav {
    display: flex; 
    justify-content: space-around;
    text-decoration: none;
}
.element {
    margin : 0px 0px  10px 20px; 
    display: flex;
    align-items: flex-end;
    text-align: right;
}
.logo {
    width: 150px; 
}
.lien {
    text-decoration: none;
    color: #FF6060;  
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 10px;
    
}
@media screen and (max-width: 375px) {
    .kasa-header {
        margin: 5px!important;
        justify-content: space-between;
        width: 300px;
    }
    .lien {
        font-size: 10pt;
        width: 55px;
    }
}
@media screen and (max-width: 450px) {
    .kasa-header {
        margin: 10px;
        justify-content: space-between;
    }
    .lien {
        font-size: 12pt;
        width: 75px;
    }
}